{% extends 'layout.html' %}

{% block content %}
<main class="game-wrapper">
    <br>
    <br>
    
    {% for type, games in section.items() %}
    <h1 class="header-title">{{ type }}</h1>
    <br>
    {% include "games_slider.html" %}
    {% endfor %}
    
    
    <br>
    <br>
    <h1 class="header-title">What We Do</h1><br>
    <p>A user-friendly website where you can browse for your favourite games in an easy and fluid manner. Our homepage features our latest picks, while the genres sidebar allows you to browse for games that suit you. Alongside this, we have a comprehensive search function allows you  to filter by genre and publisher, as well as a games page listing our entire library.</p>
    <br>
    <br>
    <h1 class="header-title">How it works</h1><br>
    <p>A Game Library web application that implements Python's Flask framework as well as libraries such as Jinja templating. It contains features such as  a game search function, browse by genre function, and a page to browse all games. Architectural design patterns and priciples including the use of a Repository and the principle of Single Responsibility. Each page also has a service layer to provide service to each request function. This application uses Flask BluePrints to maintan a seperation of concerns between application functions. Testing includes unit and end to end testing using pytest.</p>
    {% for i in range(12) %}
    <br>
    {% endfor %}
</main>
{% endblock %}